@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Don't @ViewBag.Message</h3>

<address>
    Ingemansland<br />
   Ingenstans, 1234567879<br />
    <abbr title="Phone">Phone:</abbr>
    123124123123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">dontmailus@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dontmailus@example.com</a>
</address>