@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>1337 Dating</h1>
    <p class="lead">Register now to meet single gamers in your area today! As of today we have over 100 000 members looking for love!</p>
    <p><a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("Register", "Account")">
           <img class="img-thumbnail" src="http://www.reaxxion.com/wp-content/uploads/2014/11/Gamer-Girl-667x519.jpg">
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Register", "Account")">
            <img class="img-thumbnail" src="http://www.reaxxion.com/wp-content/uploads/2014/11/Gamer-Girl-667x519.jpg">
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Register", "Account")">
            <img class="img-thumbnail" src="http://www.reaxxion.com/wp-content/uploads/2014/11/Gamer-Girl-667x519.jpg">
        </a>
    </div>
</div>