@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dejtingsajten för dig!</h1>
    <p class="lead">Registrera dig nu för att träffa snygga singlar nära dig! Endast 999 kr i månaden.</p>
    <p><a>@Html.ActionLink("Registrera", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</a></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>