@model IEnumerable<DatingProj.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Users", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        <h4>Search Profile</h4>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model);
        </div>
    </div>
}
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name) : @Html.ActionLink("Go to Profil", "UserProfil", "Users", new { id = item.Id }, new { })
                </td>
            </tr>
        }

    </table>
